.ais-Hits-item,
.ais-InfiniteHits-item {
	align-items: center;
	background: transparent;
	box-shadow: none;
	display: flex;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.65;
	padding: 0;
	margin-bottom: 2.475rem;
}
.ais-SearchBox-form {
	background-color: transparent;
	display: flex;
	font-size: 1rem;
	height: 2.5rem;
	line-height: 1.25rem;
	position: relative;
	width: 100%;
}

.ais-SearchBox-input {
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid #d6d6e7;
	border-radius: 3px;
	box-shadow: rgb(119 122 175 / 30%) 0 1px 4px 0 inset;
	caret-color: currentColor;
	color: inherit;
	flex: 1 1;
	font: inherit;
	max-width: 100%;
	padding-left: 2.5rem;
}

.ais-SearchBox-form::before {
	background: transparent
		url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235a5e9a%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E')
		repeat scroll 0% 0%;
	height: 1rem;
	left: 1rem;
	margin-top: -0.5rem;
	position: absolute;
	top: 50%;
	width: 1rem;
}

.ais-SearchBox-loadingIndicator,
.ais-SearchBox-reset {
	align-items: center;
	border-radius: 50%;
	display: flex;
	fill: currentColor;
	height: 20px;
	justify-content: center;
	position: absolute;
	right: 1rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 20px;
}
